<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/details.css">
<div class="container">
    <form method='POST' action='/checkin'>
        <div class="row">
            <div class="col-lg-5 col-sm-12  form-container">
                <div class="heading-div">
                    <h3>Please enter your details</h3>
                </div>    
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name='visitor-name' required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name='visitor-email' required>
                    <small id="emailHelp" class="form-text text-muted">You will need this while checking out.</small>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" class="form-control" id="phone" placeholder="Enter Phone Number" name='visitor-phone' maxlength='10' required>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-lg-5 col-sm-12  form-container">
                <div class="heading-div">
                    <h3>Please enter your host details</h3>
                </div>
                <div class="form-group">
                    <label for="host-name">Name</label>
                    <input type="text" class="form-control" id="host-name" placeholder="Enter name" name='host-name' required>
                </div>
                <div class="form-group">
                    <label for="host-email">Email address</label>
                    <input type="email" class="form-control" id="host-email" placeholder="Enter email" name='host-email' required>
                </div>
                <div class="form-group">
                    <label for="host-phone">Phone</label>
                    <input type="tel" class="form-control" id="host-phone" placeholder="Enter Phone Number" name="host-phone" maxlength='10' required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
