
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/index.css">

<% include partials/header.ejs %>

<div class="container index-container">
    <div class="row heading-row">
        <div class="col-lg-12">
            <h1 class="welcome">Welcome to Entry Mangement System</h1>
        </div>
    </div>
    <div class="row">
        
        <div class="col-lg-5 visitor-div">
            <h5>Are you a Visitor?</h5>
            <hr>
            <div class="paras">
                Please <strong>Check-In</strong> by entering your details.
                <br>
                We will automatically inform the host about your visit.
                <hr>
                <p>Also remember the email-id by which you check-In</p>
                <hr>
                Please remember to <strong>Check-Out </strong> when you depart.
                <hr>
                <a href="/checkin"><button type="button" class="btn btn-primary active">Check-In Here</button></a>
                <a href="/checkout"><button type="button" class="btn btn-primary active">Check-Out Here</button></a>
            </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-5 host-div">
            <h5>Are you a Host?</h5>
            <hr>
            <div class="paras">
                Please <strong>Register</strong> by entering your details.
                <br>
                You will be informed about the visitor through SMS and EMAIL.
                <hr>
                <p>Provide the details accurately.</p>
                <hr>
                Visitors will be able to see your name and email.
                <hr>
                <a href="/register"><button type="button" class="btn btn-primary active">Register Here</button></a>
            </div>
            
        </div>
    </div>
</div>