<div class="header">
        <div>Innovaccer Summmer Geeks</div>
</div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>
<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register As Host</a></li>
        <li><a href="/checkin">Check In</a></li>
        <li><a href="/checkout">Check Out</a></li>
    </ul>
</div>