<link rel="stylesheet" type="text/css" href="css/header.css">
<div class="header">
        <div>Innovaccer Summmer Geeks</div>
</div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>
<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <a href="/"><li>Home</li></a>
        <a href="/register"><li>Register As Host</li></a>
        <a href="/checkin"><li>Check In</li></a>
        <a href="/checkout"><li>Check Out</li></a>
    </ul>
</div>
<div style="margin-top:10vh;position:fixed;top:3vh;right:3vh;z-index:100" class="flash">
    <% if(success && success.length>0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>
    <% if(error && error.length>0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>   
</div> 